@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900');

$body-color: #f9f9f9;
$primary-color: #191919;
$secondary-color: #39CA74;
$logo-font: 'Poppins', sans-serif;
$primary-font: 'Source Sans Pro', sans-serif;
$desktop: 1200px;
$tablet: 992px;
$phone: 767px;
